* {
    box-sizing: border-box; 
    /* margin:0; */ 
    background-color: #dbfaff;
    /* background-color: #EFFFFC; */
}

.container {    
    position: absolute;
    top: 34%; 
    left: 20%;  
    right: 20%;  
    text-align: center; 
}

.welcome_title, u { 
    /* color:#1ABC9C; */
    color:#00b7ff;
    background: -webkit-linear-gradient(#00b7ff, #00e1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom:0; 
    font-size: 2.3rem;
}

.welcome_button {
    /* background-color: #00b7ff;  */
    background-image: linear-gradient(to right, #00b7ff , #00e1ff);
    color:#fff;
    padding:1rem;
    text-decoration: none; 
    border-radius: 0.7rem;
    display: block;
    margin:auto;
    width: 12rem; 
}

.welcome_desc {
    max-width:30rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1.5rem; 
    color:#0091ca;
}

a { 
    color:#00b7ff
}

.welcome_button:hover {
    transition: 0.5s;
    background-image: linear-gradient(to right, #00a0df , #00c3dd);
}

.footer {
    position: absolute;
    text-align: center;
    width: 99%;
    color: #0091ca;
    line-height: 0.5rem;
    font-size: 0.85rem;
    bottom:0.8rem;
}