.container { 
    background-color: #fff;
    padding:0.1rem 1rem 0.4rem 1rem;
    border-radius: 0.7rem;
    /* border: 1px solid #00b7ff;  */
    max-width: 90%; 
    margin: 1.5rem auto;
}

.story_title { 
    background-color: #fff; 
    color:#00b7ff;
    font-size: 1.5rem;
    font-weight: 450;
}
.story_desc {
    background-color: #fff;
    color: rgb(155, 155, 155);
    font-weight: 300; 
}
.container:hover { 
    transition: 0.5s; 
    padding: 0.2rem 1.1rem 0.5rem 1.1rem;
}